[Desktop Entry]
Exec=sh -c "sleep 15 && /opt/Telegram/Telegram -startintray &"
Icon=dialog-scripts
Name=Telegram Desktop Autostart
Path=
Type=Application
X-KDE-AutostartScript=true